tmp
/build
*.DS_Store
/.DS_Store


.DS_Store

Resources/images/.DS_Store

Resources/game/.DS_Store

Resources/game/.DS_Store

Resources/.DS_Store

build/.DS_Store

.settings/com.appcelerator.titanium.core.prefs

modules/iphone/.DS_Store

Resources/images/ipad/.DS_Store
